@font-face {
    font-family: 'GothamBook';
    src: url('fonts/GothamBook.woff2') format('woff2'),
        url('fonts/GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('fonts/GothamBold.woff2') format('woff2'),
        url('fonts/GothamBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #000000;
    color: #fff;
    font-family: GothamBook, sans-serif;
}

/* Nav */ 
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 27px;
    width: 60%;
    background-color: #333;
    padding: 10px;
    height: 85 vh;
    z-index: 1;
    margin-right: -5%;
}

nav ul.show {
    display: flex;
    justify-content: center;
}

nav li {
    padding: 5px;
    margin-left: 25px;
    margin-bottom: 15%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.burger-menu {
    margin-top: 8px;
    font-size: 1.5rem;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #FFF;
    margin: 5px 0;
    border-radius: 3px;
}

#logo {
    display: none;
}

    /* Nav affichage écran + grand que 650px */ 
    @media (min-width: 650px) {
        nav {
            margin-left: 5%;
            justify-content: space-between;
        }

        nav li {
            margin-right: 10px 0;
        }

        #logo {
            display: block;
        }
    }


/* Header */

.header {
    display: flex;
    flex-direction: column;
    height:90vh;
    border-bottom: 2px solid #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

     /* Header affichage écran + grand que 650px */ 
    @media (min-width: 650px) {
        .header {
            border-top: 2px solid #fff;
        }
    }


#forme {
    margin: auto;
    border: solid 3px #fff;
    border-radius: 190px;
    width: 227px;
    height: 367px;
}

#presentation {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    background-color: #000000;
    padding: 7px;
    width: 20rem;
    margin: 5px;
}

.header h2 {
    margin: 0;
    font-family: GothamBold, sans-serif;
}

.header #dev {
    margin-bottom: 5px;
}

.header #crea {
    margin-top: 7px;
}

.header img {
    width: 20px;
    margin-bottom: 25px;
}

    /* Main */
main {
    margin: auto;
    width: 80vw;
}

main p {
    margin: 0;
}

main a {
    font-family: 'Permanent Marker', sans-serif;
    color: #fff;
    text-decoration: none;
}

main h2 {
    font-family: GothamBold, sans-serif;;
    text-align: center;
}

main h3 {
    margin-bottom: 7px;
}

main ul {
    margin: 5px;
}

main li {
    margin-bottom: 5px;
}




    /* Skills */
.skills {
    margin-top: 50px;
}

.devSkills, .graphSkills, .audioSkills, .softSkills {
    display: flex;
    align-items: center;
    gap: 5px;
}

.devSkills img {
    order: 2;
    width: 70%;
    min-width: 140px;
    height: 70%;
    transform: rotate(-45deg);
}

.graphSkills img {
    width: 50%;
    min-width: 130px;
}

.audioSkills img {
    order: 2;
    width: 40%;
    min-width: 120px;
}

.softSkills img {
    width: 40%;
    min-width: 120px;
}

    /* Projets */ 
.projets {
    margin-bottom: 25px;
}

.projets img {
    width: 30%;
    float: left;
}

.projets h2 {
    padding: 30px;
}


    /* Footer */
footer {
    background-color: #FFFCF6;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

footer a {
    color: #000;
}

footer h2 {
    margin-bottom: 4px;
    font-size: 1.1rem;
}

footer ul {
    margin: 0;
    list-style: none;
}
