@font-face {
    font-family: 'GothamBook';
    src: url('fonts/GothamBook.woff2') format('woff2'),
        url('fonts/GothamBook.woff') format('woff'),
        url('fonts/GothamBook.otf') format('opentype'),
        url('fonts/GothamBook.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('fonts/GothamBold.woff2') format('woff2'),
        url('fonts/GothamBold.woff') format('woff'),
        url('fonts/GothamBold.otf') format('opentype'),
        url('fonts/GothamBold.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: GothamBook-apple-system, Arial, sans-serif;
    scroll-behavior: smooth;
}

    /* Nav */ 
    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5%;
    }
    
    nav ul {
        list-style: none;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 27px;
        width: 60%;
        background-color: #333;
        padding: 10px;
        height: 85 vh;
        z-index: 1;
        margin-right: -5%;
    }
    
    nav ul.show {
        display: flex;
        justify-content: center;
    }
    
    nav li {
        padding: 5px;
        margin-left: 25px;
        margin-bottom: 15%;
    }
    
    nav a {
        color: #ffffff;
        text-decoration: none;
    }
    
    .burger-menu {
        margin-top: 9px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .burger-menu span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: #ffffff;
        margin: 5px 0;
        border-radius: 3px;
    }
    
    #logo {
        display: none;
        font-family: 'Bagel Fat One', sans-serif;
        font-size: 1.4rem;
    }
    
        /* Nav affichage écran + grand que 750px */ 
        @media (min-width: 750px) {
            nav {
                margin-left: 5%;
                justify-content: space-between;
            }
            
            #logo {
                display: block;
                font-size: 1.7rem;
            }
    
            .burger-menu {
                display: none;
            }
    
            nav ul {
                background-color: #000;
                display: flex;
                flex-direction: row;
                position: relative;
                top: 0;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                margin-right: 1px;
    
                font-family: GothamBold-apple-system, sans-serif;
                font-weight: 700;
                font-size: 1.2rem;
            }
            nav li {
                margin-bottom: 0;
            }
        }
    
    /* Footer */
footer {
    background-color: #FFFCF6;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
    
footer a {
    color: #000;
    text-decoration: none;
}
    
footer h2 {
    margin-bottom: 4px;
    font-size: 1.1rem;
}
    
footer ul {
    margin: 0;
    list-style: none;
}

.mention {
    margin-top: 25px;
}   


    /* Footer affichage écran + grand que 650px */ 
    @media (min-width: 650px) {
        footer {
            flex-direction: row;
            justify-content: center;
            gap: 15%;
        }
        
    }