header {
    border-bottom: 2px solid #FFF;
}

main {
    width: 90%;
    margin: auto;
}

#return {
    color: #FFF;
    padding: 5px;
    position: relative;
    top: 10px;
    font-family: 'Bagel Fat One', sans-serif;
}

.title {
    width: 60%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-40%);
}

.title h1 {
    font-family: 'Bagel Fat One', sans-serif;
    font-size: 2rem;
    margin-top: 10%;
}

.title img {
    width: 40%;
    float: left;
}

.img {
    margin-top: 17%;
    margin-bottom: 40px;
}

.mockup {
    width: 100%;
}

.preview {
    display: flex;
    justify-content: space-between;
}

.previewImg {
    width: 32%;
}

.text {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.text a {
    font-family: 'Bagel Fat One', sans-serif;
    text-decoration: none;
    color: #FFF;
    margin-right: 20px;
}

.list {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.list h2 {
    font-size: 1.2rem;
    margin-top: 0;
}

.list ul {
    list-style: none;
    margin-bottom: 7px;
}

#context {
    margin-left: 55%;
}

@media (min-width: 850px) {
    main {
        width: 75%;
    }
    
    .title img {
        width: 30%;
    }

    .title h1 {
        padding-top: 5px;
    }

    .title {
        position: relative;
        left: 22%;
    }

    .ImgText {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .text {
        margin-top: 0px;
    }

    .img {
        width: 130%;
        margin-top: 0;
    }

    .list {
        flex-direction: row;
        justify-content: space-between;
    }

    #context {
        margin-left: 0;
    }
}